/* fonts */
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

#great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 5.875rem;
}

/* uni-styles */

* {
    margin: 0 auto;
}

/* body-styles */

body {
    background-color: black;
    max-width: 1366px;

}

/* header-styles */

.header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    position: absolute;
    width: 1349px;
    height: 700px;

}

/* nav-styles */

nav>ul>li {
    list-style-type: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 0px;
    width: 1000px;
    height: 46px;
    left: 173px;
    top: 57px;

    /* border: 1px solid purple; */
}

.page-title {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-right: 400px;
    /* border: 1px solid brown; */
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 0px;
    width: 440px;
    height: 46px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

nav>img {
    display: none;
}

.item-links {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
}

.item-links-1 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 1.125rem;
    width: 90px;
    height: 38px;
    padding: 8px 18px;
    margin-left: 3px;
    line-height: 22px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
}

.items {
    margin-right: 47px;
}

/* hero-styles */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.banner {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 550px;
    height: 440px;
    left: 173px;
    top: 199px;


}

.banner-title {
    color: rgb(255, 255, 255);
    font-size: 3.875rem;
    font-weight: 900;
    padding: 0px;
    margin-bottom: 28px;
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 28px;
}

/* button-styles */

button {
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: space-between;
    width: 462px;
    height: 54px;
    /* border: 1px solid blue; */
    margin-left: 0px;
}

.btn-primary {
    width: 224px;
    height: 54px;
    border-radius: 42px;
    padding: 16px 40px;
    background: rgb(230, 83, 60);
    border: none;
    /* bt font */
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    margin-right: 14px;
    margin-left: 0px;
    text-align: center;
}

.btn-secondary {
    width: 224px;
    height: 54px;
    padding: 16px 40px;
    background-color: black;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 42px;
    /* btn font */
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;

}

.img-1 {
    position: relative;
    width: 349px;
    height: 580px;
    left: 817px;
    top: 135px;
    margin-left: 20px;
}

/* blur-styles */

.blur-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(9px);
    background: rgba(255, 255, 255, 0.1);
    width: 193px;
    height: 98px;
    left: 230px;
    top: 125px;

}

.blur-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(9px);
    background: rgba(255, 255, 255, 0.1);
    width: 206px;
    height: 96px;
    right: 256px;
    top: 421px;

}

.circle {
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 100%;
    margin-left: 23px;
    margin-right: 0px;
}

.blur-title {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
}

.margin-left-20 {
    margin-left: 20px;
}

.font-24 {
    font-size: 1.5rem;
}

.blur-description {
    color: rgba(255, 255, 255, 0.65);
    font-size: .8rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
}

/* responsive-styles */

@media screen and (max-width: 576px) {
    body {
        max-width: 576px;
        margin: 0 auto;
    }

    .header {
        width: 576px;
        height: 1000px;
    }

    .navbar {
        width: 500px;
        height: 43px;
        left: 36px;
        top: 52px;
    }

    .page-title {
        margin-right: 310px;
    }

    .menu {
        display: none;
    }

    nav>img {
        display: flex;
        position: static;
        width: 40px;
        height: 40px;

    }

    .hero {
        width: 500px;
    }

    .banner {
        width: 352px;
        height: 335px;
        top: 146px;
        left: 40px;
    }

    br {
        display: none;
    }

    .img-1 {
        top: 625px;
        left: 110px;
    }

    .blur-1 {
        top: 35px;
        left: 215px;
    }

    .blur-2 {
        right: 220px;
    }

}